## Import required Libraries

In [1]:
import mysql.connector
import pandas as pd

## Establish Database Connection

In [2]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "incubyte",
    password = "123456"
)

## Load Data if the database exists or Create new Database

In [3]:
cursor = mydb.cursor(buffered=True)

database = "hospital"
_SQL = """SHOW DATABASES"""
cursor.execute(_SQL)
results = cursor.fetchall()

print('All existing database:', results)

results_list = [item[0] for item in results] 

if database not in results_list:
    _createDatabase = "CREATE DATABASE hospital"
    cursor.execute(_createDatabase)
    _createTable = "CREATE TABLE hospital.patients (Name varchar(255) NOT NULL, cust_ID varchar(18) NOT NULL PRIMARY KEY,open_dt date NOT NULL,last_dt date NOT NULL,vacc_type char(5),doctor_con char(225),state char(5),country char(5),dob date,active_cust char(1))"
    cursor.execute(_createTable)
source_data = pd.read_csv("Patients_Source.csv")
sql = "INSERT INTO hospital.patients (Name, cust_ID,open_dt,last_dt,vacc_type,doctor_con,state,country,dob,active_cust) VALUES (%s, %s,%s, %s,%s, %s,%s, %s,%s, %s)"
for index, row in source_data.iterrows():
    val = (row['Name'],row['Cust_I'],row['Open_Dt'],row['Consul_dt'],row['Vacc_ID'],row['DR_Name'],row['State'],row['Country'],row['DOB'],row['Is_Active'])
    cursor.execute(sql, val)
    mydb.commit()

All existing database: [('hospital',), ('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [4]:
cursor.execute("Select * from hospital.patients")

## Printing data

In [5]:
for patient_details in cursor:
    print(patient_details)

('Sayali Patil', '123456', datetime.date(2021, 11, 8), datetime.date(2021, 9, 11), 'MVD', 'Paul', 'H', 'IND', datetime.date(1998, 3, 31), 'A')
('Shantanu Ghar', '123457', datetime.date(2021, 10, 14), datetime.date(2021, 10, 15), 'MVD', 'Naik', 'C', 'USA', datetime.date(1998, 11, 11), 'A')
('Mathew', '123684', datetime.date(2021, 6, 11), datetime.date(2021, 6, 12), 'MVD', 'Naik', 'MH', 'IND', datetime.date(1997, 2, 3), 'N')
('Janhavi dubule', '129867', datetime.date(2021, 6, 11), datetime.date(2021, 6, 12), 'MVD', 'Paul', 'T', 'AU', datetime.date(1998, 10, 10), 'A')
('Sumeet Hande', '154323', datetime.date(2021, 9, 16), datetime.date(2021, 9, 17), 'MVD', 'Vedant', 'WB', 'IND', datetime.date(1997, 2, 3), 'N')
('Shubham Konkane', '165989', datetime.date(2021, 8, 7), datetime.date(2021, 8, 8), 'MVD', 'Paul', 'K', 'IND', datetime.date(1997, 6, 12), 'N')
('Venkhatesh Arunachalam', '178945', datetime.date(2021, 9, 23), datetime.date(2021, 9, 24), 'MVD', 'Benjimin', 'NSW', 'AU', datetime.date(1999, 1, 29), 'A')
('Matt', '216359', datetime.date(2021, 6, 11), datetime.date(2021, 6, 12), 'MVD', 'Benjimin', 'L', 'UK', datetime.date(1998, 9, 9), 'N')
('Alex', '254699', datetime.date(2021, 6, 11), datetime.date(2021, 6, 12), 'MVD', 'Paul', 'L', 'UK', datetime.date(1997, 2, 3), 'N')
('Jacob', '268916', datetime.date(2021, 6, 11), datetime.date(2021, 6, 12), 'MVD', 'Paul', 'V', 'AU', datetime.date(1998, 11, 11), 'N')
('John', '356811', datetime.date(2021, 6, 11), datetime.date(2021, 6, 12), 'MVD', 'Vedant', 'AP', 'IND', datetime.date(1998, 11, 11), 'A')
('Aaditya Gurav', '659816', datetime.date(2021, 6, 11), datetime.date(2021, 6, 12), 'MVD', 'Naik', 'FL', 'USA', datetime.date(1998, 4, 9), 'N')

## Function to Filter Data according to the Country Specified

In [6]:
def filterData(country_Name):
    _fetchdata = "SELECT * FROM hospital.patients where country = " + "'" +country_Name+"'"
    cursor.execute(_fetchdata)
    for x in cursor:
        print(x)

## Save Data in CSV format

In [7]:
data_saved = pd.DataFrame(columns = ["Name","Cust_ID","Open_dt","Consul_dt","Vacc_type","Doc_Name","State","Country", "DOB", "Is_Active"])
def saveData(country_Name):
    _fetchdata = "SELECT * FROM hospital.patients where country = " + "'" +country_Name+"'"
    cursor.execute(_fetchdata)
    country_data = pd.DataFrame(cursor.fetchall(),columns =  ["Name","Cust_ID","Open_dt","Consul_dt","Vacc_type","Doc_Name","State","Country", "DOB", "Is_Active"])
    country_data.to_csv('C:/Users/sayal/Desktop/Incubyte Assignment/incubyte-Assignment/Results/' + country_Name + ".csv")
    data_saved = pd.read_csv('C:/Users/sayal/Desktop/Incubyte Assignment/incubyte-Assignment/Results/'+country_Name+".csv")
    print(data_saved)

In [8]:
filterData("IND")
saveData("IND")

('Sayali Patil', '123456', datetime.date(2021, 11, 8), datetime.date(2021, 9, 11), 'MVD', 'Paul', 'H', 'IND', datetime.date(1998, 3, 31), 'A')
('Mathew', '123684', datetime.date(2021, 6, 11), datetime.date(2021, 6, 12), 'MVD', 'Naik', 'MH', 'IND', datetime.date(1997, 2, 3), 'N')
('Sumeet Hande', '154323', datetime.date(2021, 9, 16), datetime.date(2021, 9, 17), 'MVD', 'Vedant', 'WB', 'IND', datetime.date(1997, 2, 3), 'N')
('Shubham Konkane', '165989', datetime.date(2021, 8, 7), datetime.date(2021, 8, 8), 'MVD', 'Paul', 'K', 'IND', datetime.date(1997, 6, 12), 'N')
('John', '356811', datetime.date(2021, 6, 11), datetime.date(2021, 6, 12), 'MVD', 'Vedant', 'AP', 'IND', datetime.date(1998, 11, 11), 'A')
   Unnamed: 0             Name  Cust_ID     Open_dt   Consul_dt Vacc_type  \
0           0     Sayali Patil   123456  2021-11-08  2021-09-11       MVD
1           1           Mathew   123684  2021-06-11  2021-06-12       MVD
2           2     Sumeet Hande   154323  2021-09-16  2021-09-17       MVD
3           3  Shubham Konkane   165989  2021-08-07  2021-08-08       MVD
4           4             John   356811  2021-06-11  2021-06-12       MVD

  Doc_Name State Country         DOB Is_Active
0     Paul     H     IND  1998-03-31         A
1     Naik    MH     IND  1997-02-03         N
2   Vedant    WB     IND  1997-02-03         N
3     Paul     K     IND  1997-06-12         N
4   Vedant    AP     IND  1998-11-11         A

In [9]:
filterData("UK")
saveData("UK")

('Matt', '216359', datetime.date(2021, 6, 11), datetime.date(2021, 6, 12), 'MVD', 'Benjimin', 'L', 'UK', datetime.date(1998, 9, 9), 'N')
('Alex', '254699', datetime.date(2021, 6, 11), datetime.date(2021, 6, 12), 'MVD', 'Paul', 'L', 'UK', datetime.date(1997, 2, 3), 'N')
   Unnamed: 0  Name  Cust_ID     Open_dt   Consul_dt Vacc_type  Doc_Name  \
0           0  Matt   216359  2021-06-11  2021-06-12       MVD  Benjimin
1           1  Alex   254699  2021-06-11  2021-06-12       MVD      Paul

  State Country         DOB Is_Active
0     L      UK  1998-09-09         N
1     L      UK  1997-02-03         N

In [10]:
filterData("USA")
saveData("USA")

('Shantanu Ghar', '123457', datetime.date(2021, 10, 14), datetime.date(2021, 10, 15), 'MVD', 'Naik', 'C', 'USA', datetime.date(1998, 11, 11), 'A')
('Aaditya Gurav', '659816', datetime.date(2021, 6, 11), datetime.date(2021, 6, 12), 'MVD', 'Naik', 'FL', 'USA', datetime.date(1998, 4, 9), 'N')
   Unnamed: 0           Name  Cust_ID     Open_dt   Consul_dt Vacc_type  \
0           0  Shantanu Ghar   123457  2021-10-14  2021-10-15       MVD
1           1  Aaditya Gurav   659816  2021-06-11  2021-06-12       MVD

  Doc_Name State Country         DOB Is_Active
0     Naik     C     USA  1998-11-11         A
1     Naik    FL     USA  1998-04-09         N

In [11]:
filterData("AU")
saveData("AU")

('Janhavi dubule', '129867', datetime.date(2021, 6, 11), datetime.date(2021, 6, 12), 'MVD', 'Paul', 'T', 'AU', datetime.date(1998, 10, 10), 'A')
('Venkhatesh Arunachalam', '178945', datetime.date(2021, 9, 23), datetime.date(2021, 9, 24), 'MVD', 'Benjimin', 'NSW', 'AU', datetime.date(1999, 1, 29), 'A')
('Jacob', '268916', datetime.date(2021, 6, 11), datetime.date(2021, 6, 12), 'MVD', 'Paul', 'V', 'AU', datetime.date(1998, 11, 11), 'N')
   Unnamed: 0                    Name  Cust_ID     Open_dt   Consul_dt  \
0           0          Janhavi dubule   129867  2021-06-11  2021-06-12
1           1  Venkhatesh Arunachalam   178945  2021-09-23  2021-09-24
2           2                   Jacob   268916  2021-06-11  2021-06-12

  Vacc_type  Doc_Name State Country         DOB Is_Active
0       MVD      Paul     T      AU  1998-10-10         A
1       MVD  Benjimin   NSW      AU  1999-01-29         A
2       MVD      Paul     V      AU  1998-11-11         N