In [14]:
import mysql.connector
import pandas as pd

In [15]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "incubyte",
    password = "123456"
)

In [16]:
cursor = mydb.cursor()

database = "hospital"
_SQL = """SHOW DATABASES"""
cursor.execute(_SQL)
results = cursor.fetchall()

print('All existing database:', results)

results_list = [item[0] for item in results] 

if database not in results_list:
    _createDatabase = "CREATE DATABASE hospital"
    cursor.execute(_createDatabase)
    _createTable = "CREATE TABLE hospital.patients (Name varchar(255) NOT NULL, cust_ID varchar(18) NOT NULL PRIMARY KEY,open_dt date NOT NULL,last_dt date NOT NULL,vacc_type char(5),doctor_con char(225),state char(5),country char(5),dob date,active_cust char(1))"
    cursor.execute(_createTable)
    source_data = pd.read_csv("Patients_Source.csv")
    sql = "INSERT INTO hospital.patients (Name, cust_ID,open_dt,last_dt,vacc_type,doctor_con,state,country,dob,active_cust) VALUES (%s, %s,%s, %s,%s, %s,%s, %s,%s, %s)"
    for index, row in source_data.iterrows():
        val = (row['Name'],row['Cust_I'],row['Open_Dt'],row['Consul_dt'],row['Vacc_ID'],row['DR_Name'],row['State'],row['Country'],row['DOB'],row['Is_Active'])
        cursor.execute(sql, val)

All existing database: [('hospital',), ('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [17]:
cursor.execute("Select * from hospital.patients")

In [20]:
for patient_details in cursor:
    print(patient_details)

In [13]:
def showData(country_Name):
    _fetchdata = "SELECT * FROM hospital.patients where country = ?", country_Name
    cursor.execute(_fetchdata)
    for x in cursor:
        print(x)
        
showData("IND")

OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: Connection not available.

SHOW CREATE TABLE mydatabase.mytable;